@import '../../mixins.scss';
#info {
    display: flex;
    justify-content: center;
  
    #info-contact {
      text-align: left;
      margin: 0 1.875em 0 1.875em;
      #info-contact-title {
        font-weight: bold;
      }
      #phone-link {
          height: 100%;
          width: 100%;
      }
      @media all and (max-width: $breakpoint-0) {
        margin: 1em 0 0 0;
      }
    }
    #Button {
        margin: 1.5em 0 1.5em 0;
    }
    #info-address {
      text-align: left;
      margin: 0 1.875em 0 1.875em;
      #info-address-title {
        font-weight: bold;
      }
      
      #text-address {
        white-space: nowrap;
      }
      @media all and (max-width: $breakpoint-0) {
        margin: 1em 0 0 0;
      }
    }
    #info-hours {
      text-align: left;
      margin: 0 1.875em 0 1.875em;
      #info-hours-title {
        font-weight: bold;
      }
      #days-container {
        margin: 1.5em 0 1.5em 0;
        display: flex;
        flex-direction: column;
        .day {
          display: flex;
          font-family: 'Ledger', serif;
          margin-top: 0.08em;
          span {
            margin-right: 0.75em;
            white-space: nowrap;
          }
          .day-name {
            margin-right: 0.438em;
          }
          @media all and (max-width: $breakpoint-4) {
            font-size: 0.8em;
          }
        }
      }
      @media all and (max-width: $breakpoint-0) {
        margin: 1em 0 0 0;
      }
    }
    @media all and (max-width: $breakpoint-0) {
      flex-direction: column;
      width: 17em;
    }
  }