@import '../../mixins.scss';

#Button {
  background-color: $accent-color;
  border-radius: 0.2em;
  border: 1px solid $accent-color;
  color: $button-text-color;
  width: calc(10em + 10vw);
  height: 3.5rem;
  margin: auto;
  text-align: center;
  
  #child {
    @include center-vertical;
  }
}
