@import "../../mixins.scss";

@mixin transition {
  transition: all 0.5s ease-in-out;
}

@mixin hamburger-line {
  width: $hamburger-line-width;
  height: $hamburger-line-height;
  @include phone-below {
    width: $hamburger-line-width/1.5;
    height: $hamburger-line-height/1.5;
  }
  background: $hamburger-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px rbga(255, 101, 47, 0.2);
  @include transition;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-container {
  @include flex-center;
}

.menu-btn {
  position: relative;
  @include flex-center;
  width: $hamburger-button-width;
  height: $hamburger-button-width;
  @include phone-below {
    width: $hamburger-button-width/2;
    height: $hamburger-button-width/2;
  }
  cursor: pointer;
  @include transition;
}

.menu-btn-burger {
  @include hamburger-line;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  @include hamburger-line;
}

.menu-btn-burger::before {
  transform: translateY($hamburger-before-translate);
  @include phone-below {
    transform: translateY($hamburger-before-translate/2);
  }
}

.menu-btn-burger::after {
  transform: translateY($hamburger-after-translate);
  @include phone-below {
    transform: translateY($hamburger-after-translate/2);
  }
}

/* Animation */
.menu-btn.open .menu-btn-burger {
  transform: translateX($hamburger-transform); // Middle line animation
  @include phone-below {
    transform: translateX($hamburger-transform/2);
  }
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate($hamburger-secondary-transform, $hamburger-secondary-transform-negative);
  @include phone-below {
    transform: rotate(45deg) translate($hamburger-secondary-transform/2, $hamburger-secondary-transform-negative/2);
  }
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate($hamburger-secondary-transform, $hamburger-secondary-transform);
  @include phone-below {
    transform: rotate(-45deg) translate($hamburger-secondary-transform/2, $hamburger-secondary-transform/2);
  }
}
