@import '../../mixins.scss';

.shadow-box {
  background: #f6f6f6;
  width: 70%;
  margin: auto;
  padding: 2vw;
  height: calc(100px + 22vh);
  @include phone-below {
    height: calc(50px + 18vh);
  }
}

#links-container {
  margin: auto;
  a {
    font-family: $secondary-font-family;
    color: $accent-color;
    margin: 2vw;
    font-size: calc(7px + 1.4vmin);
  }
  div {
    margin: 2vw;
    font-size: $header-font-size;
  }
}
