@import "../../mixins.scss";

.shadow-box {
  background: #f6f6f6;
  width: 70%;
  margin: auto;
  padding: 2vw;
  height: calc(100px + 22vh);
  @include phone-below {
    height: calc(50px + 18vh);
  }
}

.title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: calc(10px + 1vh);
}

#links-container {
  margin: auto;

  a {
    font-family: "Ledger", serif;
    color: #48487f;
    margin: 2vw;
    font-size: calc(7px + 1.4vmin);
  }
  div {
    margin: 2vw;
    font-size: $header-font-size;
  }
}
.accent-bar {
  border: 1px solid black;
  margin: 1em auto 1em;
  width: 3.125em;
}
