@import '../../mixins.scss';

.float-right {
  float: right;
}

#navbar-children-container {
  align-items: center;
  display: inline-flex;
  width: 100%;
  height: 100%;
}

#navbar-right {
  margin-left: auto;
  @media all and (max-width: 775px) {
    display: none;
  }
}

#hamburger-container {
  margin-right: 1rem;
  @media all and (min-width: 320px) {
    margin: auto 0.75em auto 0;
  }
}

#page-title {
  color: $accent-color;
  font-family: $primary-font-family;
}

#navbar-left {
  display: flex;
}

@mixin navbar-left-container {
  color: $accent-color;
  font-family: $secondary-font-family;
  
  margin: 0px 1.25rem;
}
#phone-container {
  @include navbar-left-container;
  float: left;
}

#directions-container {
  @include navbar-left-container;
  float: right;
}
