@import "../mixins.scss";
@include sticky;
.Navbar {
  height: 65px;
  display: inline-flex;
  background-color: white;
  align-items: center;
}

.hamburger {
  height: 48px;
  width: 55px;
}

.page-title {
  color: $header-text-color;
  font-weight: 700;
  font-size: 22px;
  font-family: "Comfortaa", sans-serif;
  width: 213px;
}

.phone {
  color: $header-text-color;
  font-weight: 400;
  font-family: "Ledger", serif;
  height: 30px;
  font-size: 17px;
  margin-left: auto;
  width: 150px;
}

.directions {
  color: $header-text-color;
  font-weight: 400;
  font-family: "Ledger", serif;
  height: 30px;
  font-size: 17px;
  margin-left: auto;
  width: 190px;
}
