@import '../../mixins.scss';

#flex-container {
  width: 100%;
  #title {
    font-size: 3.7vw;
    font-weight: 600;
    color: $accent-color;
    font-family: 'Comfortaa', sans-serif;
    margin: 3rem 0 0 0;
  }
  #subtitle {
    font-family: 'Ledger', serif;
    color: #303134;
    margin: 1rem 0 1rem 0;
  }

  #call-button {
    margin-top: 1.25rem;
    a {
      font-family: 'Ledger', serif;
    }
  }

  #banner-image {
    margin: 1rem auto 0 auto;
    width: 65%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
