@import "../../mixins.scss";

#home-items-container {
  width: 100%;
}

#home-title {
  font-size: $home-title-font-size;
  font-weight: 600;
  color: $accent-color;
  font-family: $primary-font-family;
  margin: 3rem 0 0 0;
}

#home-subtitle {
  font-family: $secondary-font-family;
  color: #303134;
  margin: 1rem 0 1rem 0;
}

#home-call-button {
  margin-top: 1.25rem;

  a {
    font-family: $secondary-font-family;
    font-size: calc(0.7em + 0.5vw);
  }
}

#home-banner-image {
  margin: 1rem auto 0 auto;
  width: 65%;

  @media all and (max-width: $breakpoint-2) {
    width: 90%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
