@import '../../mixins.scss';

#contact-anchor {
  position: relative;
  top: -6.25em;
}

#contact-map {
  margin: 1.875em auto 1.875em auto;
  width: 90vw;
  height: 60vh;
  @media all and (max-width: $breakpoint-2) {
    height: 40vh;
  }
}
