@import "../../mixins.scss";

.Contact {
  margin: 0 auto;
  text-align: center;
  .accent-bar {
    border: 1px solid black;
    margin: 0 auto 1em;
    width: 3.125em;
  }

  .title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 1.250em;
  }

  .map {
    margin: 1.875em 0 1.875em 0;
    height: 43.750em;
    width: 59.375em;
    align-content: center;
    justify-content: center;
  }
  #info {
    display: flex;
    justify-content: center;
    
    #info-contact {
      text-align: left;
      margin: 0 1.875em 0 1.875em;
    }
    #info-address {
      text-align: left;
      margin: 0 1.875em 0 1.875em;
    }
    #info-hours {
      text-align: left;
      margin: 0 1.875em 0 1.875em;
      #info-hours-title {

      }
      #days-container {
        display: flex;
        flex-direction: column;
        .day {
          display: flex;
          .day-name {
            margin-right: 0.438em;
          }
        }
      }
    }
  }
}
