@import '../../mixins.scss';
.Navbar {
  height: 4.063rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 4.125rem;
  background-color: $background-color-light;
  position: fixed;
  top: 0;
  box-shadow: 0 0 5px grey;
  z-index: 2;
}
