@import "../../mixins.scss";

#Section {
    text-align: center;
    background-color: $background-color-light;
    min-height: 100vh; 
    width: 100%;

    @media all and (max-width: $breakpoint-3) {
        min-height: 50vh; 
    }
}