

$header-font-size: calc(10px + 2vmin);

// Dark theme:
$background-dark: #282c34;

// Light theme
$accent-color: #48487f;
$background-color: #FFF;
$button-text-color: #FFF;

$breakpoint-0: 1000px;
$breakpoint-5: 715px;
$breakpoint-1: 775px;
$breakpoint-2: 550px;
$breakpoint-3: 475px;
$breakpoint-4: 380px;
